<template>
 <button @click="deleteItem">Delete</button>

 
</template>

<script>
export default {
    name: "DeleteTodoButton",
  
    data(){
     const deleteItem =() =>{
         this.$emit('remove');
     }
        return {
            deleteItem,
         
        }
    }
}
</script>

<style>

</style>