<template>
<div class="todoItem " >
   <ul class="todoItem__list" v-for="(todo , index) in todos "
      :key="todo.id"
      :title="todo.title"
    >
        <li class="todoItem__list--title ">
        
          <p class="todoItem__list--text" :class="[todo.completed ? 'is-completed' : '' ]">{{todo.title}}</p>
            <input 
            class="todoItem__list--input " 
            type="checkbox" 
            :checked="todo.completed"
            @change="markItemCompleted(todo)"
            />
          <DeleteTodoButton @remove="removeFunction(index)" />
      
        </li>
  </ul>
  <h4 class="empty__list" v-if="todos.length === 0">Empty list.</h4>
</div>
 <div class="todoItem__move--item">
          <p>{{ move }}</p>
          <input 
            v-model="enableSort"
            type="checkbox" 
            class="toggle-action"
            @click="moveItem">
            </div>
</template>

<script>
import { ref, computed,  watchEffect, watch, } from 'vue';
import DeleteTodoButton from './DeleteTodoButton.vue';
export default {
     name:'StatusTodoInput',
    props :['todoProps'],
     components: {
       DeleteTodoButton,
     },
    
     data(props) {
       const enableSort = ref(false);
       const todos = computed(() => props.todoProps);
       const markItemCompleted = (todo) => {
         todo.completed = !todo.completed;
       }
       const removeFunction = (index) =>{
        todos.value.splice(index, 1);
       }
       const moveItem = () => {
        
         for(let index= 0 ; index < todos.value.length - 1; index++){
           for( let indexs = index + 1;indexs < todos.value.length; indexs++) {
                 if(todos.value[index].completed) {
                   let memory = todos.value[index]; 
                   todos.value[index] = todos.value[indexs];
                   todos.value[indexs] = memory;
                 } 
           }
         }
        
       }
       watchEffect(() => {
        todos.value.splice(0, 1);
       });
       watch( props.todoProps, () => {
         if(enableSort.value) {
           moveItem();
         }
         
       });
    return {
      todos,
      enableSort,
      markItemCompleted,
      removeFunction,
      moveItem,
      move : 'Move done item at the end?',
      watchEffect,
    }
  },
 }
</script>

<style>
.todoItem {
  margin-top:30px;
  overflow-x: hidden;
   overflow-y: auto;
   
 max-width: 450px;
 max-height: 200px;
}
.todoItem__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
 
   
  
}
.todoItem__list--title {
   background-color: rgba(255, 255, 255, 0.2);
    margin-bottom: 4px;
   height: 50px;
    display: flex;
		justify-content: space-between;
		align-items: center;
    padding: 0 35px;
    
}
.todoItem__list--text {
 text-align: left;
   width: 300px;
    overflow: hidden;
   word-break: break-all;
    line-height: 50px;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
  
  max-width: 300px;
}
.todoItem__list--input {
    margin-left: auto;
}
.todoItem__move--item {
   margin:  25px;
    display: flex;
    align-items: center;
    justify-content: right;
}
.todoItem__move--item .toggle-action {
    width:40px;
    height:20px;
    -webkit-appearance: none;
    background-color: #c6c6c6;
    position: relative;
    border-radius: 10px;
}
.todoItem__move--item input[type="checkbox"]::after {
  content: "";
    position: absolute;
    width:20px;
    height:20px;
    top: 0;
    left: 0;
    background-color: #fff;
    border-radius: 50%;
}
.todoItem__move--item input:checked[type="checkbox"] {
   background-color: #f0abab;
}
.todoItem__move--item input:checked[type="checkbox"]::after {
    left: 20px;
    background-color: #e7e7e7;
}
.is-completed {
  text-decoration: line-through;
} 
.empty__list {
  text-align: center;
}
</style>